# File JSON Firebase Admin SDK
guardianeye-4766a-firebase-adminsdk-ol0rb-e0fb54202e.json

# File Python dan Jupyter Notebook
Scraping-Gempa_realtime.py
Untitled.ipynb
Pathfinfing.py
dataridar.py
cobasraping.py

# File HTML
peta_potensi_cuaca.html

# File Flutter
guardianeye.iml
.flutter-plugins-dependencies

# Folder chromedriver
chromedriver-win64/

# File model machine learning
data_edukasi.pth

# Folder laporan admin
laporan_admin/